<table wdith="100%">
  <tr>
    <td colspan="3">
      <a href="<%= v.helpUrl %>"><%= v.id %> - <%= v.impact %></a>
      <span><% _.forEach(v.tags, function (t) { %><%= t %> <% }); %></span>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <p><%= v.description.replace('<', '&lt;').replace('>', '&gt;') %></p>
    </td>
  </tr>
  <% _.forEach(v.nodes, function(node) { %>
    <tr>
    <% if (v.target) { %><%= v.target %><% } %>
      <td><% _.forEach(node.target, function (target) { %>
          <b><%= target %></b> <br/>
        <% }); %>
      </td>

      <% if (node.any.length > 0) { %>
      <td colspan="2">
        <table>

          <% _.forEach(node.any, function (a) { %>
            <tr node="any">
              <td>
            <% if (a.relatedNodes.length > 0) { %>
            <% _.forEach(a.relatedNodes, function (n) { %>
              <b><%= n.target %></b><br/>
            <% }); %>
            <% } %>
              </td>
              <td>
              <b><%= a.id %>:</b> <%= a.message %>
              </td>
            </tr>
          <% }); %>
        </table>
      </td>
      <% }; %>


      <% _.forEach(node.all, function (a) { %>
      <td node="all">
        <% if (a.relatedNodes.length > 0) { %>
        <% _.forEach(a.relatedNodes, function (n) { %>
          <span><b><%= n.target %></b></span>
        <% }); %>
        <% } %>
      </td>
      <td>
          <b><%= a.id %>:</b> <%= a.message %>
      </td>
      <% }); %>
    </tr>
  <% }); %>

</table>
