<table wdith="100%">
  <tr>
    <td colspan="3">
      <a href="<%= v.helpUrl %>"><%= v.id %> - <%= v.impact %></a>
      <span><% _.forEach(v.tags, function (t) { %><%= t %> <% }); %></span>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <p><%= v.description.replace('<', '&lt;').replace('>', '&gt;') %></p>
    </td>
  </tr>
  <tr><th>target</th><th>node</th><th>message</th></tr>

  <% _.forEach(v.nodes, function(node) { %>
    <tr>
    <% if (v.target) { %><%= v.target %><% } %>
      <td><% _.forEach(node.target, function (target) { %>
          <%= target %> <br/>
        <% }); %>
      </td>

      <% _.forEach(node.any, function (a) { %>
        <td>
        <% if (a.relatedNodes.length > 0) { %>
        <% _.forEach(a.relatedNodes, function (n) { %>
          <span><%= n.target %></span>
        <% }); %>
        <% } %>
        </td>
        <td>
          <%= a.id %> : <%= a.message %>
        </td>
      <% }); %>

      <% _.forEach(node.all, function (a) { %>
        <td>
        <% if (a.relatedNodes.length > 0) { %>
        <% _.forEach(a.relatedNodes, function (n) { %>
          <span><%= n.target %></span>
        <% }); %>
        <% } %>
        </td>
        <td>
          <%= a.id %> : <%= a.message %>
        </td>
      <% }); %>
    </tr>
  <% }); %>

</table>
